/*lettertype*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* algemeen css */
body {
  font-family: Poppins;
  color: pink;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 100vh;
}

/* mobile first design */
.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 2fr;
    grid-template-areas:
    'main1 main1'
    'main2 main2'
}

/* containers  */
.datum {
  grid-area: main1;
}

.klok {
  grid-area: main2;
}

/* css mobiel */
.klok {
  margin-top: -3vw;
  font-size: 14vw;
  text-align: center;
  color: white;
  text-shadow: 0 10px black;
}

.datum {
  width: 50vw;
  color: black;
  font-size: 7vw;
  margin-left: 25vw;
  margin-top: 65vw;
  font-weight: bold;
  background-color: lightgrey;
}

/* tablet grootte design */

/* @media (min-width: 768px) {

  .grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 2fr;
    grid-template-areas:
    'main1 main2'
    'main1 main2'
}


} */
