body {
  font-family: Poppins;
  color: pink;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 100vw;
}

h1 {
  text-align: center;
  margin-top: 500px;
  font-size: 120px;
  color: white;
  position: relative;
  text-shadow: 0 12px black;
}
.container {

}
.image {
  width: 100%;
  margin-top: -650px;
  margin-left: 15px;
}

#datum {
  color: black;
  font-size: 90px;
}
