/*lettertype*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

/* algemeen css */
body {
  font-family: Poppins;
  color: white;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 100vh;
}

/* mobile first design */
.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 2fr;
    grid-template-areas:
    'main1 main1'
    'main2 main2'
    'main3 main3'
}

/* containers  */
.dag {
  grid-area: main1
}

.datum {
  grid-area: main2;
}

.klok {
  grid-area: main3;
}

/* css mobiel */

.dag {
  font-size: 22px;
  margin-top: 40px;
  text-align: center;
  font-weight: bold;
  text-shadow: 5px 5px 5px black;
  /* margin-left: 120px;

  background-color: white;
  width: 110px;
  height: 30px; */
}

.datum {
  /* width: 55%;
  color: black; */
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  text-shadow: 5px 5px 5px black;
  /* margin-left: 80px; */
  /* background-color: white; */
  /* width: 190px;
  height: 35px;  */
}

.klok {
  font-size: 60px;
  margin-top: 140px;
  text-align: center;
  color: white;
  text-shadow: 0 7px black;
}

#dn {
  text-align: center;
  font-size: 50px;
  color: white;
  font-family: 'Gruppo';
  font-weight: bolder;
}
/* tablet grootte design */

@media (min-width: 768px) {
  .grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 2fr;
    grid-template-areas:
    'main1 main1'
    'main2 main2'
    'main3 main3'
}

  .dag {
    margin-top: 180px;
    margin-right: -10px;
    font-size: 27px;
  }

  .datum {
    margin-top: -5px;
    font-size: 31px;
  }
.klok {
    font-size: 80px;
    margin-top: -10px;
  }
  #dn {
    font-size: 70px;
  }
}

@media (min-width: 1280px) {
  .grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 2fr;
    grid-template-areas:
    'main1 main2'
    'main1 main2'
    'main3 main3'
}
.dag {
  font-size: 40px;
  margin-right: -350px;
}

.datum {
  font-size: 40px;
  margin-top: 180px;
  margin-right: 400px;
}

#dn {
  margin-right: -650px;
}
@media (min-width: 1920px){
  .grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 2fr;
    grid-template-areas:
    'main3 main3'
    'main1 main1'
    'main2 main2'
  }

  .dag {
    font-size:  50px;
    margin-right: -10px;
    margin-top: -10px;
  }

  .datum {
    font-size: 60px;
    margin-top: -10px;
    margin-right: -20px;
  }

  .klok {
    font-size: 150px;
    margin-left: 30px;
    margin-top: 200px;
  }

  #dn {
    margin-left: -650px;
    font-size: 120px;
  }
}
